.container {
  width: 1140px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 56px;
}

.footer-flex_item {
  display: flex;
  flex-direction: column;
}

.footer-flex_item a {
  margin-bottom: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #7E92B2;
  font-family: Nunito;
  font-weight: 40;
}

.footer-flex_item__title {
  font-size: 20px;
  margin-bottom: 27px;
  color: #5A6980;
  font-family: Nunito, sans-serif;
  font-weight: 800;
}

.flex__item__title{
  font-family: Nunito, sans-serif;
  font-weight: 800;
}

.flex__item__input{
  position: relative; 
  vertical-align: middle;
  
}

.inp_email{
  background-image: url("../img/envelope.svg");
  background-repeat:no-repeat;
  background-position-y:center;
  background-position-x:8px;
  background-size: 12px 22px;
  padding-left: 30px;
  position: absolute;
  vertical-align: middle;
  border-image: 0 , 1px solid ;
  border-radius: 80px;
  padding-top: 9px;
  vertical-align:middle;
  padding-bottom: 9px;
  width: 364px;
  
}


.btn{
  position: absolute;
  border-radius: 50%;
  border-color: blue;
  left: 365px;
  top: 5px;
  width: 29px;
  height: 29px;
  cursor: pointer;
}

.btn img{
  padding-left:3px ;
 
}