section{
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
.header{
    height: 72px;
    position: fixed;
    z-index: 1;
}
.logo{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top:22px;
    left: 165px;
}

.menu{
    display: inline-block;
    vertical-align: middle;
    word-spacing: 26px;
    margin-left: -4px;
    position: relative;
    left: 825px;
    right: 165px;
    margin-right: 165px;
    top: 22px;
}

.container{
    position: relative;
}
.menu a{
    text-decoration: none;
    font-size: 14px;
    font-family: Manrope;
    font-weight: 700;
}
a:hover{
    text-decoration: underline;
}
/* header ready */

.left{
    display: inline-block;
    vertical-align: middle;
    width: 705px;
    position: relative;
}
.media{
    margin-top: 32px;
}
.circle{
    vertical-align: middle;
    cursor: pointer;
}
.line{
    vertical-align: middle;
    margin-left: 8px;
}
.right{ 
width: 735px;  
display:inline-block;
vertical-align: middle;
position: absolute;
}

.wrapper{
    width: 540px;
    height: 356px;
    position: absolute;
    display: inline-block;
    left: 165px;
    top: 344px;
}
.text h1{
    font-family: Manrope;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 16px;
}
.text span{
    font-family: Manrope;
    font-weight: 400;
    font-size: 18px;
}
.media_img{
    margin-top: 32px;
}